nav {
  width: 50%;
  margin: 0 auto;
}

#content {
  width: 50%;
  margin: 0 auto;
}

#movie-list {
  margin-top: 50px;
}

.movie-widget {

}

.votes, .title{
  font-size:200%;  
  color:gray;
}

.title:hover {
  color:black;
}

.votes {
  font-weight: bold;
  margin: 0 10px;
}

.vote-icons {
  display: inline-block;
}

.glyphicon-menu-up, .glyphicon-menu-down{
  display:block;
}

