<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title></title>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/rankings.css">

    <script src="/lib/jquery/jquery-2.1.3.min.js"></script>
    <script src="/lib/react/react.js"></script>
    <script src="/lib/react/JSXTransformer.js"></script>
    <script src="/lib/react/Flux.js"></script>
    <script src="/lib/microevent/microevent.js"></script>

    <script src="/js/rankings.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/stores.js"></script>
    <script type="text/jsx" src="/js/views.js"></script>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/rankings">Mov-List</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/rankings">Rankings</a></li>
            </ul>
        </div>
    </nav>

    <div id="content">
    </div>
</body>

</html>
